@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.borderSelect {
  width: 20px;
  /* Set a small width to keep the column narrow */
  min-width: 50px;
  /* Ensure the dropdown has enough space to display */
  height: auto;
  /* Auto height for proper dropdown behavior */
  margin: 0 4px;
  /* Keep the margin as needed */
}

.randomBtn {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 150px;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 24px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

h3 {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #25636f;
  width: 150px;
  border: 0;
  padding: 15px;
  margin-top: 20px;
  color: #FFFFFF;
  font-size: 44px;
  text-align: center;
}

.query-page {
  width: 85%;
  padding: 8% 0 0;
  margin: auto;
  overflow: hidden;
}

.mytable {
  width: 33%;
}

.form {
  position: relative;
  z-index: 1;
  max-width: 460px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  background-image: url("../../assets/images/background.jpg");
  background-size: cover;
}

.form textarea {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 80%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
  background: #43A047;
}

.form .message {
  margin: 15px 0 0;
  color: #dfd3d3;
  font-size: 12px;
}

.form .message a {
  color: rgb(223, 243, 169);
  text-decoration: none;
}

.form .register-form {
  display: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

.container:before,
.container:after {
  content: "";
  display: block;
  clear: both;
}

.container .info {
  margin: 50px auto;
  text-align: center;
}

.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}

.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}

.container .info span a {
  color: #000000;
  text-decoration: none;
}

.container .info span .fa {
  color: #EF3B3A;
}

body {
  background: #76b852;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table {
  width: 33%;
  overflow-x: auto;
  overflow-y: hidden;
  margin-bottom: 70px;

}

th.mat-header-cell {
  text-align: left;

}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #754caf !important;
  color: white;
}

.enhancedCol {
  text-align: center !important;
  width: 5%;
}

.radio-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}